name: Build and Test

on:
    push:
        branches:
            - 'main'
            - 'renovate/*'
        tags:
            - 'v*' # For v1.0, v0.1.0, etc
    pull_request:
        branches:
            - 'main'
    schedule:
        -   cron: '0 0 * * *'
    workflow_dispatch:

concurrency:
    group: ${{ format('{0}-{1}', github.job, github.ref) }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
                java: [ 17 ]
        steps:
            -   name: Checkout code
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            -   name: Cache Gradle dependencies
                uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-

            -   name: Common Setup
                uses: ./.github/actions/common-setup
                with:
                    java-version: ${{ matrix.java }}

            -   name: Retrieve Project Name
                run: echo "PROJECT_NAME=$(${{github.workspace}}/gradlew -q printProjectName)" >> $GITHUB_OUTPUT
                id: project_name

            -   name: Get Project Name
                run: echo "PROJECT_NAME=${{steps.project_name.outputs.PROJECT_NAME}}" >> $GITHUB_ENV

            -   name: Build with Gradle
                run: ./gradlew clean shadowJar --info

            -   name: Upload build results
                uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
                with:
                    name: Build Results (Java ${{ matrix.java }} on ${{ matrix.os }})
                    path: ${{ github.workspace }}/build/libs

        outputs:
            project_name: ${{ steps.project_name.outputs.PROJECT_NAME }}

    test:
        name: Run unit tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
                java: [ 17 ]
        needs:
            - build
        steps:
            -   name: Checkout code
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            -   name: Cache Gradle dependencies
                uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-

            -   name: Common Setup
                uses: ./.github/actions/common-setup
                with:
                    java-version: ${{ matrix.java }}

            -   name: Test with Gradle
                run: ./gradlew check --info

            -   name: Upload test results
                uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
                with:
                    name: Test Reports (Java ${{ matrix.java }} on ${{ matrix.os }})
                    path: ${{ github.workspace }}/build/reports